<%= form_with(model: pet) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :nome, class:"form-label"%>
    <%= form.text_field :nome, class:"form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :idade, class:"form-label"%>
    <%= form.number_field :idade, class:"form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :info_extra, class:"form-label"%>
    <%= form.text_area :info_extra, class:"form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :cidade, class:"form-label"%>
    <%= form.text_field :cidade, class:"form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :estado, class:"form-label"%>
    <%= form.text_field :estado, class:"form-control"%>
  </div>



  <div class="form-check">
 
    <%= radio_button_tag "pet[status]", 0, pet.status == 0 || pet.status == nil, class:"form-check-input" %>

    <label class="form-check-label" for="pet_status_0">
      Perdido
    </label>
  </div>

  <div class="form-check">
    <%= radio_button_tag "pet[status]", 1, pet.status == 1, class:"form-check-input" %>

    <label class="form-check-label" for="pet_status_1">
      Comunicado
    </label>
  </div>

  <div class="form-check">
    <%= radio_button_tag "pet[status]", 2, pet.status == 2, class:"form-check-input" %>

    <label class="form-check-label" for="pet_status_2">
      Encontrado
    </label>
  </div>

  <% if @pet.photo.attached? %>
    <img class="img-fluid img-thumbnail" src="<%=(url_for(@pet.photo))%>" />
  <% end %>

  <div class="input-group mb-3">

    <%= form.label "Foto", class:"input-group-text" %>
    <%= form.file_field :photo, class:"form-control" %>
  </div>

  <%= form.number_field :user_id, id: :pet_user_id, class:"form-control", value: current_user.id, type: :hidden %>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
