<%= form_with model: seen, url: pet_seen_index_path(@pet.id), method: :post do |form| %>
    <% if seen.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(seen.errors.count, "error") %> prohibited this seen from being saved:</h2>
  
        <ul>
          <% seen.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  
    <div class="mb-3">
      <%= form.label :nome, class:"form-label"%>
      <%= form.text_field :nome, class:"form-control"%>
    </div>
  
    <div class="mb-3">
      <%= form.label :telefone, class:"form-label"%>
      <%= form.text_field :telefone, class:"form-control"%>
    </div>
  
    <%= form.number_field :pet_id, id: :seen_pet_id, class:"form-control", value: @pet.id, type: :hidden %>
  
    <div class="actions">
      <%= form.submit class:"btn btn-primary"%>
    </div>
  <% end %>
  